
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.desktop-1-wPv {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #000000;

  .auto-group-flat-K9a {
    width: 100%;
    height: 109.3rem;
    position: relative;
    flex-shrink: 0;

    .inner-rec-1-ku6 {
      width: 87.3825rem;
      height: 91.7rem;
      position: absolute;
      left: 0;
      top: 0;
      background-color: #bd1010;
    }
    .inner-rec-2-ToW {
      left: 81.8227rem;
      top: 3.7rem;
      background-color: #bd1111;
      width: 73.0619rem;
      height: 66rem;
      position: absolute;
    }
    .main-nqn {
      background-color: rgba(9, 8, 8, 0.9599999785);
      width: 123.6rem;
      height: 85rem;
      position: absolute;
      left: 10.6rem;
      top: 20.3rem;
    }
    .vector-1-X2g {
      width: 71.2rem;
      height: 43.5rem;
      position: absolute;
      left: 10.6rem;
      top: 58.7rem;
      object-fit: contain;
      vertical-align: top;
    }
    .hi-friends-this-is-sankar-FDa {
      height: 14.6rem;
      position: absolute;
      font-size: 6rem;
      font-family: Inter, 'Source Sans Pro';
      width: 39.5rem;
      top: 31.9rem;
      font-weight: 400;
      line-height: 1.2125;
      color: #ffffff;
      left: 20.9rem;
    }
    .home-6zt {
      left: 27.7rem;
      top: 23.4rem;
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      width: 8.4rem;
      height: 3.7rem;
      position: absolute;
      font-size: 3rem;
      font-weight: 400;
      color: #ffffff;
    }
    .blogs-ZtU {
      width: 7.9rem;
      height: 3.7rem;
      position: absolute;
      white-space: nowrap;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      left: 80rem;
      top: 23.6rem;
      font-size: 3rem;
      font-weight: 400;
      line-height: 1.2125;
    }
    .hacker-image-seG {
      object-fit: cover;
      vertical-align: top;
      width: 48.9rem;
      height: 60.3rem;
      position: absolute;
      left: 81.8rem;
      top: 45rem;
    }
    .line-1-nmE {
      position: absolute;
      left: 18.4rem;
      top: 47.3rem;
      background-color: #bfb5b5;
      width: 57.2rem;
      height: 0.1rem;
    }
    .student-72p {
      color: #ffffff;
      white-space: nowrap;
      width: 9.4rem;
      height: 3.1rem;
      top: 48.5rem;
      font-size: 2.5rem;
      font-weight: 400;
      line-height: 1.2125;
      position: absolute;
      left: 20.9rem;
      font-family: Inter, 'Source Sans Pro';
    }
    .line-2-Q1v {
      position: absolute;
      left: 32.5rem;
      top: 47.3rem;
      background-color: #ffdfdf;
      width: 0.1rem;
      height: 5.6rem;
    }
    .programmer-uzG {
      font-size: 2.5rem;
      color: #ffffff;
      height: 3.1rem;
      left: 33.7rem;
      top: 48.5rem;
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      width: 14.5rem;
      position: absolute;
      font-weight: 400;
    }
  }
  .auto-group-lths-Qw2 {
    height: 3.8rem;
    display: flex;
    align-items: flex-end;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 0rem 68.4rem 0rem 42.2rem;
    width: 100%;

    .group-2-vPa {
      height: 4.7rem;
      cursor: pointer;
      position: relative;
      flex-shrink: 0;
      margin: 0rem 1.8rem 81.2rem 0rem;
      width: 16.5rem;

      .rectangle-7-FAx {
        background-color: rgba(9, 8, 8, 0.9599999785);
        border-radius: 10rem;
        width: 11.0257rem;
        height: 4.7rem;
        position: absolute;
        left: 0;
        top: 0;
      }
      .about-ZxL {
        position: absolute;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        height: 3.7rem;
        left: 2.6215rem;
        top: 0;
        font-size: 3rem;
        font-weight: 400;
        line-height: 1.2125;
        white-space: nowrap;
        width: 8.6rem;
      }
    }
    .skill-5fn {
      width: 15.1rem;
      height: 5rem;
      cursor: pointer;
      position: relative;
      flex-shrink: 0;
      margin-bottom: 80.9rem;

      .rectangle-8-DX6 {
        left: 0;
        top: 0;
        background-color: rgba(9, 8, 8, 0.9599999785);
        border-radius: 10rem;
        width: 10.5965rem;
        height: 5rem;
        position: absolute;
      }
      .skills-YJU {
        left: 3.0465rem;
        top: 0.614rem;
        font-size: 3rem;
        color: #ffffff;
        white-space: nowrap;
        width: 7rem;
        position: absolute;
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';
        height: 3.7rem;
        font-weight: 400;
      }
    }
  }
  .auto-group-d4vc-Ewz {
    width: 145.4rem;
    height: 195.3rem;
    position: relative;
    flex-shrink: 0;

    .rectangle-1-mwv {
      width: 144rem;
      height: 107.7rem;
      position: absolute;
      left: 0;
      top: 0;
      object-fit: cover;
      vertical-align: top;
    }
    .screenshot-2023-04-12-192658-1-WuW {
      top: 50.2rem;
      object-fit: cover;
      vertical-align: top;
      width: 47.6rem;
      height: 63.1rem;
      position: absolute;
      left: 0;
    }
    .a-bit-about-me-SYG {
      font-size: 6rem;
      font-weight: 400;
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';
      width: 42.4rem;
      top: 25.8rem;
      left: 52.2rem;
      color: #ffffff;
      white-space: nowrap;
      height: 7.3rem;
      position: absolute;
    }
    .im-student-pursuing-bachelor-degree-in-artificial-intelligence-and-data-science-in-crescent-institute-of-science-and-technology-and-i-like-to-purse-my-career-in-data-science-9ha {
      font-family: Inter, 'Source Sans Pro';
      width: 80.5rem;
      height: 36.4rem;
      position: absolute;
      left: 51.9rem;
      top: 39.5rem;
      font-size: 5rem;
      font-weight: 400;
      line-height: 1.2125;
      color: #ffffff;
    }
    .rectangle-6-M2x {
      width: 144rem;
      height: 88.4rem;
      position: absolute;
      left: 0;
      top: 106.9rem;
      object-fit: cover;
      vertical-align: top;
    }
    .group-1-UtG {
      position: absolute;
      left: 9.4rem;
      top: 117rem;
      width: 125.3rem;
      height: 68.1rem;

      .rectangle-2-cDn {
        top: 0;
        background-color: #000000;
        width: 123.1rem;
        height: 67.4rem;
        position: absolute;
        left: 2.2rem;
      }
      .screenshot-2023-04-12-193945-1-Z92 {
        object-fit: cover;
        vertical-align: top;
        width: 43.2rem;
        height: 51.1rem;
        position: absolute;
        left: 0;
        top: 17rem;
      }
      .rectangle-3-Umn {
        vertical-align: top;
        width: 21.7rem;
        height: 20.2rem;
        position: absolute;
        left: 49.8rem;
        top: 4.8rem;
        object-fit: cover;
      }
      .rectangle-4-1mi {
        left: 70.6rem;
        top: 32.5rem;
        object-fit: cover;
        vertical-align: top;
        width: 21.7rem;
        height: 20.2rem;
        position: absolute;
      }
      .rectangle-5-MKn {
        width: 21.7rem;
        height: 20.2rem;
        position: absolute;
        left: 92.3rem;
        top: 4.8rem;
        object-fit: cover;
        vertical-align: top;
      }
      .data-visualization-gsr {
        width: 25rem;
        height: 3.7rem;
        position: absolute;
        top: 26.6rem;
        line-height: 1.2125;
        color: #ffffff;
        white-space: nowrap;
        left: 48.9rem;
        font-size: 3rem;
        font-weight: 400;
        font-family: Inter, 'Source Sans Pro';
      }
      .machine-learning-z7r {
        width: 24.2rem;
        font-size: 3rem;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        height: 3.7rem;
        position: absolute;
        left: 91.1rem;
        top: 25.8rem;
        font-weight: 400;
        line-height: 1.2125;
      }
      .data-analysis-6gg {
        left: 73.5rem;
        top: 54.3rem;
        font-weight: 400;
        color: #ffffff;
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        width: 18.9rem;
        height: 3.7rem;
        position: absolute;
        font-size: 3rem;
      }
    }
  }
}
